<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <timestamp key="bySecond" datePattern="yyyy-MM-dd_HH-mm"/>
    <property name="LOG_DIR" value="${user.home}/LogDemoApplication/logs"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${bySecond}.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %green([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.narola.LogDemoApplication.logger.layouts.MySampleLayout" />
        </encoder>
    </appender>

    <appender name="ROLLING_FILE_TIME" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/timeLogFile.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/timeLogFile-%d{yyyy-MM-dd_HH-mm}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>5</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_FILE_SIZE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/sizelogFile.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/sizelogFile.log.%i.log.zip</fileNamePattern>
            <minIndex>4</minIndex>
            <maxIndex>6</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %green([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_FILE_TIME_SIZE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/timeSizeLogFile.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/timeSizeLogFile-%d{yyyy-MM-dd_HH-mm}%i.gz</fileNamePattern>
            <maxFileSize>1KB</maxFileSize>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>5</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-4relative [%thread] heelloo  %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <springProfile name="dev">
            <appender-ref ref="FILE" />
        </springProfile>
        <springProfile name="test">
            <appender-ref ref="ROLLING_FILE_TIME" />
        </springProfile>
        <springProfile name="prod">
            <appender-ref ref="ROLLING_FILE_SIZE" />
        </springProfile>
        <springProfile name="qa">
            <appender-ref ref="ROLLING_FILE_TIME_SIZE" />
        </springProfile>
    </root>
    <logger name ="patternLogger" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT2"/>
    </logger>
</configuration>